i{
  color: white;
  font-size: 1.4em;
}

i:hover{
  color: green;
}

.user_nav_text{
  margin-left: 5px;
  font-size: 1em;
  color: white;
}

#cart_container{
  position: relative;
}

.cart_index{
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: red;
  font-size: 0.5em;
  width: 10px;
  height: 10px;
}

.login_icon{
  display: flex;
  align-content: center;
  align-items: center;
}

.login_icon p{
  text-decoration: none;
}

.login_icon p:hover{
  text-decoration: none;
  text-decoration-line: none;
  text-decoration-style: solid;
}
