@import url('http://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  justify-content: center;
  
}
.log_container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.subLogContainer{
  padding: 40px;
  margin-top: 100px;
  border-radius: 20px;
  border: 8px solid #868383;
  background-color: #ffffff;
  box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
  5px 5px 15px rgba(0,0,0,0.35),
  inset -5px -5px 15px rgba(255, 255, 255, 0.1),
  inset 5px 5px 15px rgba(0,0,0,0.35);
}

.subLogContainer .form{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 25px;
}



.subLogContainer .form h2{
  color: #696969;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.subLogContainer .form .inputBox{
  position: relative;
  width: 300px;
}

.subLogContainer .form .inputBox input{ /*Changes de input content color*/
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.1);
  color:#828282;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
  5px 5px 5px rgba(0,0,0,0.35);
  transition: 0.5s;
  outline: none;
}

.subLogContainer .form .inputBox span{
  position: absolute;
  left: 0;
  padding: 12px 10px 12px 48px;
  pointer-events: none; /*Span don't uses click or pointer events*/
  font-size: 1em;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.5);
}

.subLogContainer .form .inputBox input:valid ~ span,
.subLogContainer .form .inputBox input:focus ~span{ /*Makes animation text*/
  color: #828282;
  border: 1px solid #828282;
  background: #ffffff;
  transform: translateX(25px) translateY(-7px);
  font-size: 0.6em;
  padding: 0 8px;
  border-radius: 10px;
  letter-spacing: 0.1em;
}

.subLogContainer .form .inputBox input:valid,
.subLogContainer .form .inputBox input:focus{
  border: 1px solid #828282;
}


.subLogContainer .form .inputBox i{
  position: absolute;
  top: 15px;
  left: 16px;
  width: 25px;
  padding: 2px 0;
  padding-right: 8px;
  color: #828282;
  border-right: 1px solid #00dfc4;
}

.subLogContainer .form .inputBox input[type="submit"]{
  margin-top: 20px;
  background: #828282;
  color: #000000;
  padding: 10px 0;
  font-weight: 500;
  cursor: pointer;
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
  5px 5px 5px rgba(0,0,0,0.35);
}

.subLogContainer .form p{
  color: rgb(2, 42, 23);
  margin-top: 5px;
  text-align: center;
  font-size: 0.75em;
  font-weight: 300;
}

.subLogContainer .form p button{
  font-weight: 500;
  color: #828282;
  border-style: none;
  background: none;
}

.inputBox p button:hover{
  cursor: pointer;
}

.submit_button{
  padding: 12px 10px 12px 48px;
  border: none;
  width: 100%;
  background: #ffffff;
  border: 1px solid rgba(0,0,0,0.1);
  color:#828282;
  font-weight: 300;
  border-radius: 25px;
  font-size: 1em;
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
  5px 5px 5px rgba(0,0,0,0.35);
  transition: 0.5s;
  outline: none;
}

.error_text{
  color: rgb(114, 9, 9);
}

/*ACTIVE ACOUNT STYLES***********************************************/

.generalContainer, .user_info_line{
  display: flex;
}

.generalContainer{
  background: #d2c1c1;
  box-shadow: -5px -5px 15px rgba(255,255,255,0.1),
  5px 5px 5px rgba(0,0,0,0.35);
  margin: 50px auto auto auto;
  width: 50%;
  text-align: center;
  align-content: center;
  padding: 100px;
}

.subContainer{
  padding: 20px;
}
