.productContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.productContainer .card:hover{
    scale: 1.05;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0,0,0,0.35);
    transition: 0.2s;
}

.scroll-bg{
    width: 400px;
    margin: 10% auto;
    padding: 30px;
}

.scroll-div{
    width: 400px;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-div::-webkit-scrollbar{
    background: none;
    width: 10px;
}

.scroll-div::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
}

.scroll-object{
    padding: 20px;
}