.productContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
}

.productContainer .card button:hover{
    background: green;
}

.productContainer .card:hover, .scroll-object .card:hover{
    scale: 1.05;
    box-shadow: -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0,0,0,0.35);
    transition: 0.2s;
}

.cartMainContainer{
    width: 100%;
    display: flex;
}

.scroll-bg{
    width: 400px;
    margin: 10% auto;
    padding: 30px;
}

.scroll-div{
    width: 400px;
    height: 70vh;
    overflow: hidden;
    overflow-y: scroll;
}

.scroll-div::-webkit-scrollbar{
    background: none;
    width: 10px;
}

.scroll-div::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
}

.scroll-object{
    padding: 20px;
}

.scroll-object .card{
    margin-bottom: 20px;
}
.scroll-object .card button:hover{
    background: rgb(152, 2, 2);
}

.totalProducts p, .totalPay p{
    margin: auto;
    width: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.totalProducts, .totalPay{
    margin-left: 20px;
}

.totalContainer{
    justify-content: end;
    padding-right: 30px;
}

.cartContainer{
    background: lightblue;
    position: absolute;
    right: 0;
    top: 25px;
    text-align: right;
    padding-right: 20px;
    box-shadow: -25px -25px 15px rgba(255, 255, 255, 0.1),
    -5px -5px 15px rgba(0,0,0,0.35);
}

.toggleButton{
    background: green;
    color: white;
    font-weight: bold;
    transform: rotate(90deg);
    padding: 5px 15px 5px 15px;
    scale: 1.2;
    position: absolute;
    right: 0;

}

.closeButton{
    padding: 10px;
    color: white;
    background: green;
    margin-left: 80%;
    margin-top: 60px;
    border-radius: 15px;
}

.payButton{
    padding: 10px 0 10px 0;
    color: white;
    background: rgb(71, 98, 107);
    border-radius: 15px;
    margin-top: 10px;  
}

.payButton:hover{
    background: white;
    color: black;
}

.payButton .link{
    padding: 10px;
    text-decoration: none;
    color: white;
}

.payButton .link:hover{
    color: black;
}

.toggleButton:hover, .closeButton:hover{
    background: greenyellow;
    color: green;
}


.sidebar{
    position: absolute;
    right: 0;
    width: 0;
    justify-content: end;
    text-align: right;
    padding: 0;
}

.container{
    position: relative;
}
.container-fluid{
    width: 100vh;
}
